<h1>My Tasks</h1>
<h2><%= link_to "Create a new task", tasks_new_path %></h2>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed == true %>
    <input type="checkbox" name="scales" checked>
    <% else %>
    <input type="checkbox" name="scales">
    <% end %>
    <%= link_to task.title, task_path(task.id)%> -
    <%= link_to "Delete",
    task_path(task.id),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>
